@tailwind base;
@tailwind components;
@tailwind utilities;


.dark-theme {
    background-color: rgb(14, 13, 13);
    color: white;

}

.light-theme {

    background-color: white;
}


.Slider-bg-img {
    background-image: url('https://i.ibb.co/mBNJFDF/slider-image-2.jpg');
}