@tailwind base;
@tailwind components;
@tailwind utilities;


.dark-theme {
    background-color: rgb(14, 13, 13);
    color: white;

}

.light-theme {

    background-color: white;
}


.contact-image {
    background-image: url('https://i.ibb.co/0MKmYtY/contact-image.jpg');
}

.offer {
    background-image: url('https://i.ibb.co/VTKBhx8/offers-room.jpg');
}